.heroSection{
    padding-right: 25px;
}
@media screen and (max-width:991px) {
.heroSection{
    padding-right: 0px;
}
}


.heroImage{

}
@media screen and (max-width:1199px) and (min-width:992px) {
   .heroImage{
    width: 400px;
}
}
@media screen and (max-width:991px) {
   .heroImage{
    display: none;
}
}


@media screen and (min-width:769px) {
    .list-feats>li:nth-child(even) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }
    .list-feats--jumbo>li:nth-child(even) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }
    .list-feats--jumbo>li:nth-child(odd) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }
}



.list--shortfeatsCheck {
    margin-top: 30px;
    margin-bottom: 30px;
    columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
@media screen and (max-width:320px) {
    .list--shortfeatsCheck {
    margin-top: 30px;
    margin-bottom: 30px;
    columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
}
}

.list--shortfeatsCheck>li {
    position: relative;
    padding-left: 25px;
    line-height: auto
}

.list--shortfeatsCheck>li+li {
    margin-top: 10px
}

.list--shortfeatsCheck .list__picto {
    position: absolute;
    left: 0
}



/* NAVBAR STARTS*/

@media (max-width:768px) {
.dropdown-item {

    text-align: center;
}
}


#navbarDropdown:focus, #navbarDropdown:hover, #navbarDropdown:active {
    background-color: transparent;
}


.dropdown-menu {
 background-color: #fff;
 border: none;
 border: 1px solid #f1f3f8 !important;
 padding: 5px;

}

.dropdown-item {
    display: block;
    padding: 5px;
    color: #262633;

}

.dropdown-item:hover {
    color: rgb(241, 66, 77);
}


header {
    position: relative;
    z-index: 7777;
}

/* NAVBAR ENDS*/


/*FIXING MOBILE LAYOUT - ENTERPRISE*/

@media screen and (max-width:769px) {


.ent-intro {

    flex-direction: column;
    align-items: center;
}
.ent-intro__msg {
    margin-bottom: 50px;
    padding: 0;
}



}



/* HELPER CLASSES*/

.fs48 {
font-size: 48px;
}

.fs44 {
font-size: 44px;
}

.fs40 {
font-size: 40px;
}


.pt-0 {
    padding-top: 0px;
}

.pb-0 {
    padding-bottom: 0px;
}

.pt-40 {
    padding-top: 40px;

}

.pt-60 {
    padding-top: 60px;

}

.pb-80 {
    padding-bottom: 80px;
}
